@charset "UTF-8";
/*цвет*/
/*шрифт*/
/*общие стили*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: white;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.button {
  min-width: 200px;
  border: 0px solid transparent;
  border-radius: 4px;
  color: white;
  background-color: #2196f3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.advantages-background {
  text-align: center;
  padding: 25px;
  height: 120px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 480px) {
  .advantages-background {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-background {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-background {
    width: 270px;
  }
}

@media screen and (max-width: 768px) {
  .main-nav {
    display: none;
  }
}

.nav {
  padding: 16px 15px;
}

@media screen and (max-width: 768px) {
  .contacts {
    display: none;
  }
}

.logo {
  color: #2196f3;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-part-black {
  color: #212121;
}

.logo-part-white {
  color: white;
}

.menu-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-close-menu {
  display: none;
}

.menu-button.is-open .icon-close-menu {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  position: absolute;
  inset: 0;
  background-color: white;
  padding: 48px 40px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.mob-nav {
  font-size: 40px;
  line-height: 1.18;
  font-weight: 500;
}

.mob-nav .item {
  margin-bottom: 32px;
}

.mob-nav .item:nth-child(3n) {
  margin-bottom: 0px;
}

.mob-link {
  color: #212121;
}

.mob-link:hover, .mob-link:focus {
  color: #2196f3;
}

/*@import "components/header";



@import "components/hero";

@import "components/work";
@import "components/team";
@import "components/clients";
@import "components/radio-button";
@import "components/cards";
@import "components/footer";
@import "components/modal";*/
/*# sourceMappingURL=main.css.map */